.calendar-ops {
  //display: flex;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  border: 1px solid #cbcbcb;
}

.calendar-header-root {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 90;
  overflow: hidden;
  height: 50px;
}

.calendar-body-root {
  display: flex;
  overflow: hidden;
}

.box-left-titles-calendar-scheduler-horizontal {
  //min-width: 150px;
  display: flex;
  flex-direction: column;
  //border: 1px solid #cbcbcb;
  box-sizing: border-box;
}

.box-header-calendar-scheduler-horizontal {
  display: flex;
}

.box-calendar-scheduler-horizontal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-body-calendar-scheduler-horizontal {
  display: flex;
}

.list-titles-calendar-scheduler-horizontal {
  overflow: hidden;

  .box-item-title-calendar-scheduler-horizontal {
    border: 1px solid #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }
}


.box-title-items-calendar-scheduler-horizontal {
  width: 100%;
  height: 100%;
  border: 1px solid #cbcbcb;
  text-align: center;
  background: white;
  z-index: 99;
}


.box-week-calendar-scheduler-horizontal {
  background: #fff;

  &:first-child {
    //margin-left: 150px;
  }

  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box-title-day-calendar-scheduler-horizontal {
  //min-width: 150px;
  border: 1px solid #cbcbcb;
  text-align: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    //margin-left: 150px;
  }

  &.before {
    //background: red;
  }

  &.today {
    //background: blue;
    //color: red;
    font-weight: bolder;
  }

}

.box-data-day-calendar-scheduler-horizontal {
  //display: flex;

  .box-item-day-calendar-scheduler-horizontal {
    height: 150px;
    border: 1px solid #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .box-list-items-calendar-scheduler {
      width: 100%;
      height: 100%;
      overflow: auto;
      box-sizing: border-box;
      padding: 6px;

      .box-item-placeholder-calendar-scheduler {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #9d9d9d;
      }
    }
  }
}


/*Grid Table Calender*/
/*.calendar-grid-table {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
}

.calendar-grid-row {
  display: table-row;
  box-sizing: border-box;
}

.calendar-grid-cell{
  vertical-align: top;
  display: table-cell;
  box-sizing: border-box;
}*/

.colsContent {
}

.calendar-grid-row {
  display: flex;
  overflow: hidden auto;
  flex: 1;
  background-color: #fff;
  //cursor: grab;
}

.calendar-grid-cell {
  flex: 1;
}

.draggable-calendar {
  overflow: hidden auto;
  width: 100%;
  height: 100%;
}


/* Hide scrollbar for Chrome, Safari and Opera */
/*.draggable-calendar::-webkit-scrollbar {
  display: none;
}

!* Hide scrollbar for IE, Edge and Firefox *!
.draggable-calendar {
  -ms-overflow-style: none; !* IE and Edge *!
  scrollbar-width: none; !* Firefox *!
}*/

.select-for-scroll {
  cursor: grabbing !important;
  user-select: none !important;
}

.box-titles-calendar {
  display: flex;
}

.box-titles-weeks {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box-title-day {
  //width: 150px;
  text-align: center;
  border: 1px solid #b4b4b4;
}


/*-----------*/
.box-title-list-items-calendar {
  width: 150px;
  text-align: center;
  border: 1px solid #b4b4b4;
}

.list-items-calendar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-calendar {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b4b4b4;
}

/*---------------*/
.box-content-day {
  height: 160px;
  border: 1px solid #b4b4b4;
}

/*-----------------*/
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center !important;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}