.imamaad-range-calendar-schedule-virtualized {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}


.imamaad-range-calendar-schedule-virtualized-sticky {
  position: sticky;
  z-index: 90;
}

.imamaad-range-calendar-schedule-virtualized-mask{
  position: fixed;
  z-index: 1005;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;

  &.show{
    display: block;
  }
}