
.GridHeader {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 90;
}

.GridTitle {
    position: sticky;
    left: 0;
    z-index: 10;
}

.GridBody {
    display: flex;
}

.LeftSideGridContainer {
    position: sticky;
    left: 0;
    z-index: 10;
}

.LeftSideGrid {
    overflow: hidden !important;
}

.HeaderGrid {
    width: 100%;
    overflow: hidden !important;
}

.BodyGrid {
    overflow: hidden !important;
    width: 100%;
}

.evenRow {
}

.oddRow {
    background-color: rgba(0, 0, 0, .1);
}

.cell,
.headerCell,
.leftCell {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerCell,
.leftCell {
    font-weight: bold;
}